aside {
    width: 100%;
    margin: 2rem 0rem;
    border: 1px solid rgb(10, 10, 10);
    padding: 1rem;
    background-color: antiquewhite;
    color: black;
}

nav{
    background-color: antiquewhite;
    padding: 1rem;
}

nav a{
    color: gray;
    padding: 1rem;
    display: block;
    font-size: 1rem;
}

main{
    max-width: fit-content;
}
main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 1rem;
    box-shadow: 0 0 2rem blue;
}

h1{
    color: black;
}

aside img{
    width: 200px;
    height: auto;
}
p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    text-align: center;
    border-top: 1px solid rgb(206, 25, 25);
}