:root{
    --primary-color: navy;  
    --secondary-color: rgba(65, 54, 56, 0.116); 
    --header-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --accent-color: black; 
    --accent-color2: gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
}
header a{
    display: block;
    color: white;
    margin-left: 2rem;
    padding-bottom: 1rem;
}

header{
    background-color: var(--primary-color);
    color: var(--accent-color2);
    margin-bottom: 2rem;
    font-family: var(--header-font);
}

header, main, footer{
    width: 99%;
    margin: 0 auto;
}

main{
    padding-top: 2rem;
}

/* comment this out  */
/* .hero, section{ */
    /* margin-bottom: 2rem; */
/* } */

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position:relative
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color);
    color: #fff;
}

.hero article{
    position: absolute;
    bottom: 3rem;
    background-color: var(--accent-color);
    opacity: 0.7;
    color: white;
}
.hero article img{
    float: right;
    width: 125px;
}

section h2{
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem 0;
    color: #fff;
    opacity: 0.9;
    text-align: center;
}

footer{
    display: block;
}

footer img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: #fff;
}


footer p{
    margin-bottom: 0px;
    color: var(--secondary-color)
}