:root {
    --primary-color: navy;
    --secondary-color: rgba(233, 226, 227, 0.431);
    --header-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --accent-color: black;
    --accent-color2: rgb(35, 35, 192);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header a {
    display: block;
    color: white;
    margin-left: 3rem;
    padding-bottom: 1rem;

    align-items: center;
    /* border-bottom: 1px solid #ccc; */
    /* max-width: 1000px; */
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color2);
    margin-bottom: 2rem;
    font-family: var(--header-font);
    display: grid;
    grid-template-columns: 120px 1fr;
    place-items: center;

}

header img {
    margin: 0 0.25rem 0 35rem;
    width: 64px;
    height: auto;
}

header,
main,
footer {
    width: 99%;
    margin: 0 auto;
}

main {
    padding-top: 2rem;
}

/* comment this out */
/* .hero, section{ */
/* margin-bottom: 2rem; */
/* } */

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--secondary-color);
}

nav a {
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 3rem;
    background-color: var(--accent-color);
    opacity: 0.7;
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
}

.wrapper {
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* Text | Image | Text */
    align-items: center;
    gap: 20px;
}

section h2 {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem 0;
    color: #fff;
    opacity: 0.9;
    text-align: center;
}

section p {
    margin-top: 1rem;
    display: inline;
}

.history img {
    width: 300px;
    height: auto;

}

/* section::after { */
/* content: ""; */
/* display: block; */
/* clear: both; */
/* } */

.adventure {
    /* border: 2px solid #000; */
    margin: 40px 60px;
    padding: 30px;
    text-align: center;
    max-width: 100%;
}

.adventure-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

figcaption {
    font-size: 14px;
}

.adventure img {
    width: 120px;
    height: 100px;
    background: #ddd;
    margin-bottom: 5px;
    display: inline-flex;
}

footer {
    background: var(--primary-color);
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 100%;
    /* position: fixed; */
    /* bottom: 0; */
}

.socialmedia img {
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    display: inline-block;
    margin-left: 10px;
}

/* footer{ */
/* display: block; */
/* } */
/* */
/* footer img { */
/* width: 5rem; */
/* height: 5rem; */
/* object-fit: contain; */
/* border-radius: 50%; */
/* padding: 0.5rem; */
/* background-color: #fff; */
/* } */
/* */
/* */
/* footer p{ */
/* margin-bottom: 0px; */
/* color: var(--accent-color2); */
/* background-color: var(--primary-color);} */






/* CONTACT HTML SECTION  */

.address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.address p{
    line-height: 0;
    margin: 0;
}

.address address .location{
    max-width: 12rem;
    line-height: 1;
}

.contact-section{
    display: flex;
    gap: 3rem;
}

.contact-details{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
}

.contact-details input{
    margin-left: 2rem;
    padding: 0.5rem 6.2rem 0.5rem 0.4rem;
    margin-top: 0.3rem;
}

.contact-details label{
    font-size: 0.8rem;
}

.contact-details label:last-child{
    padding-left: 2rem;
}

.radio{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    max-width: 40rem;
    /* border: 1px solid black; */
}

/* .radio .right{ */
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-top: 1rem; */
    /* gap: 0.5rem; */
/* } */

.container{
    display: flex;
    gap: 20px;
}

.radio .right input{
    margin-bottom: 1rem;
}

.radio .left p{
    margin-top: 1rem;
    width: 1rem;
    padding: 0;
    margin: 0;
}

.message{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.subscribe{
    /* display: flex; */
    /* flex-direction: column; */
    /* order: 1px solid black; */
    font-size: 0.9rem;
    margin-top: 1rem;
}

.message textarea{
    height: 4rem;
}

.contact-section .button{
    margin-top: 1rem;
    
}

.button button{
    padding: 0.5rem 8rem;
    
}

.serve{
    border: 1px solid black;
}

.serve p:first-child{
    margin-left: 30%;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.staff-pix{
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff-1, .staff-2, .staff-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10rem;
}

.serve img{
    width: 15rem;
    height: 10rem;
}