:root{
    --primary-color: navy;  
    --secondary-color: rgba(65, 54, 56, 0.116); 
    --header-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --accent-color: black; 
    --accent-color2: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header a{
    display: block;
    color: white;
    margin-left: 2rem;
    padding-bottom: 1rem;
}

header{
    background-color: var(--primary-color);
    color: var(--accent-color2);
    margin-bottom: 2rem;
}

header, main, footer{
    width: 99%;
    margin: 0 auto;
}

main{
    padding-top: 2rem;
}
