*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 5rem 25rem;
    background-color: whitesmoke;
}

form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    /* max-width: 50rem; */
    max-height: auto;
    padding: 2rem 0;
    background-color: #EEEEEE;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

input, select, textarea, label, button{
    width: 32rem;
    margin-top: 0.3rem;
    height: 2rem;
}

input{
    margin-bottom: 0.7rem;
}

button{
    background-color: #000080;
    color: white;
    border-radius: 0.6rem;
    height: 2.9rem;
}

textarea{
    height: 7rem;
    margin-bottom: 0.7rem;
}

select{
   margin-bottom: 0.7rem; 
}

p{
    margin-bottom: 0.7rem;
    background-color: black;
    color: white;
    padding: 1rem 4rem;

}

main input:first-child{
    width: 1rem;
    margin: 0;
    padding: 0;
}

.q{
    margin-bottom: 10rem;
    font-size: 2rem;
}

/* .check{ */
    /* display: flex; */
    /* margin: 0; */
    /* border: 1px solid black; */
    /* padding: 0; */
    /* width: 25rem; */
    /* height: 2rem; */
    /* gap: 0; */
    /* margin-bottom: 0.3rem; */
/* } */
/*  */
/* .check input{ */
    /* height: 1rem; */
    /* padding-left: 0; */
    /* margin-left: 0; */
    /* border: 1px solid rgb(171, 20, 20); */
/*  */
/* } */