:root{
    --text-shadow: 3px 3px 5px #777;
    --box-shadow: 0 0 30px #111;
    --font-choice: Arial, Helvetica, sans-serif;
    --bcg-stat: radial-gradient(#eee, #323A06);
}


* {
  margin: 0;
  padding: 0;
}
      
main {
  max-width: 800px;
  margin: 2rem auto;
  font-family: var(--font-choice)
}
      
h1 {
  text-align: center;
  font-size: 1.5rem;
  text-shadow: var(--text-shadow)
}
      
.herodiv {
  margin: 10px auto;
  /* position: relative;  */
  /* If removed, what happens? */
}
      
.herodiv img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
      
.stats {
  position: absolute;
  top: 25px;
  right: 25px;
  background: var(--bcg-stat);
  border: 1px solid #000;
  padding: 0.65rem;
  box-shadow: var(--box-shadow);
  opacity: 0.9;
  bottom: 25px;
  left: 15px;
}
      
h2 {
  text-shadow: 0 0 15px #333;
  border-bottom: 1px solid #555;
  margin-bottom: 0.3rem;
}
      
footer {
  position: fixed;
  bottom: 0;
  margin: 1rem;
  border-top: 1px solid #000;
  padding: 0.5rem;
  color: navy;
  font-weight: 700;
  font-style: italic;
}