*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

main{
    max-width: 100%;
    height: 55vh;
    background-color: rgba(51, 129, 103, 0.219);
}

aside{
    width: auto;
    height: 50vh;
    margin: 0.1rem;
    border: 1px solid black;
    padding: 1rem;
    color: black;
    background-color: rgba(80, 91, 116, 0.103);
}

aside img{
    /* width: 200px; */
    height: auto;
    width: 20em;
    text-align: center;
    margin-top: 2.3rem;
}

main img{
    width: 9rem;
    height: auto;
    border: 1px solid black;
    padding: 0.1rem;
    box-shadow: 0 0 1.5rem rgba(13, 13, 138, 0.356);
    float: right;
    margin: 0 0.5rem 0.5rem 1rem;
}

p{
    padding: 0;
}

main p{
    margin-top: 1rem;
    font-size: 1.2rem;
}

footer{
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
}

nav{
    background-color: rgba(5, 5, 5, 0.692);
    padding: 1rem;
}

nav a{
    display: block;
    color: white;
    padding: 1rem;
}

h1{
    color: black;
}



/* class selector  */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 25px;
  left: 150px;
}

ul{
    height: 20vh;
    margin-top: 1rem;
}
