*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

main{
    max-width: 100%;
}

aside{
    width: auto;
    margin: 0.5rem;
    border: 1px solid black;
    padding: 1rem;
    color: black;
    background-color: antiquewhite;
}

aside img{
    width: 200px;
    height: auto;
}

main img{
    width: 9rem;
    height: auto;
    border: 1px solid black;
    padding: 1rem;
    box-shadow: 0 0 1rem rgb(131, 131, 180);
}

p{
    padding: 0;
}

footer{
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
}

nav{
    background-color: blueviolet;
    padding: 1rem;
}

nav a{
    display: block;
    color: white;
    padding: 1rem;
}

h1{
    color: black;
}