aside {
    width: 100%;
    margin: 2rem 0rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: antiquewhite;
    color: black;
}

img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 1rem;
    text-align: center;
    border-top: 1px solid black;
}