* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.callout {
    background-color: #224477;
    height: 150vh;

}

.callout img {
    float: right;
    margin: 2rem 10rem 0.5rem 1rem;
    border: 4px solid white;
}

blockquote {
    color: white;
    font-size: 3.5rem;
    margin: 0 10rem 1rem 2rem;
    border-bottom: 1px solid white;
    padding: 4rem 0 2rem 0;
}

blockquote p {
    margin-bottom: 2rem;
}

cite {
    color: white;
    margin: 0 0 0 2rem;
    font-size: 1.5rem;
    /* border-top: 1px solid white; */

}