* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
}

header p {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}

/* main { */
/* display: flex; */
/* flex-direction: column; */
/* justify-content: center; */
/* align-items: center; */
/* } */

main {
    margin: 1rem 18rem;
}

main h1 {
    text-align: center;
    font-size: 4rem;
}

img {
    width: 48.3rem;
}

section {
    height: 20rem;
    margin: 1rem 0;
    width: 48.3rem;
    border: 1px solid rgba(138, 136, 136, 0.1);
    padding: 15px;
    background-color: rgb(114, 115, 117);
    color: #fff;
    margin-bottom: 2rem;
}

section h2 {
    margin-left: 2rem;
    font-size: 3rem;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

section p {
    color: black;
    font-size: 1.6rem;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}

section li {
    color: black;
    font-size: 1.6rem;
    width: 80%;
    margin: auto;
    margin-bottom: 0.3rem;
}

footer {
    background-color: black;

}

footer p {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}